{% extends "base.html" %}

{% block title %}Register Account{% endblock title %}


{% block content %}
<style>
  
  .help-tip{
    position: absolute;
    top: 18px;
    right: 18px;
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 26px;
    cursor: default;
  }
  
  .help-tip:before{
    content:'?';
    font-weight: bold;
    color:#000;
  }
  
  .help-tip:hover p{
    display:block;
    transform-origin: 100% 0%;
  
    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;
  
  }
  
  .help-tip p{    /* The tooltip #1E2021*/
    display: none;
    text-align: left;
    background-color: #10284E ;
    
    padding: 20px;
    width: 300px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    right: -4px;
    color: #FFF;
    font-size: 13px;
    line-height: 1.4;
  }
  
  .help-tip p:before{ /* The pointer of the tooltip */
    position: absolute;
    content: '';
    width:0;
    height: 0;
    border:6px solid transparent;
    border-bottom-color:#1E2021;
    right:10px;
    top:-12px;
  }
  
  .help-tip p:after{ /* Prevents the tooltip from being hidden */
    width:100%;
    height:40px;
    content:'';
    position: absolute;
    top:-40px;
    left:0;
  }
  
  /* CSS animation */
  
  @-webkit-keyframes fadeIn {
    0% { 
        opacity:0; 
        transform: scale(0.6);
    }
  
    100% {
        opacity:100%;
        transform: scale(1);
    }
  }
  
  @keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:100%; }
  }
</style>

<section id="register" class="bg-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card">
            <div class="card-header bg-primary text-white">
              <h4>
                <i class="fas fa-user-plus"></i> Register</h4>
            </div>
            <div class="card-body">
                {% include 'alert.html' %}

                <form action="{% url 'register' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                      <div class="help-tip">

                        <p> <strong>Note :</strong> Please provide correct email so we can send any information through your email & also helps if you want to reset your password <br><br>
                           <strong> Role (Customer) :</strong> Make inquires to owner (for getting fulll information of houses)<br>  <br>
                           <strong>Role (Owner) :</strong> Manage Profile & Contribute (Post your house details)<br> <br> 
                           
                             
                        </p>
                    </div>
                      <label class="mr-sm-2" for="inlineFormCustomSelect">Role</label>
                      <select class="custom-select mr-sm-2 " name="role" id="inlineFormCustomSelect" required >
                        <option selected value="customer">Customer</option>
                        <option value="owner">Owner</option>
                      </select>
                    </div>
                  <div class="form-group">
                  <label for="first_name">First Name</label>
                  <input type="text" name="first_name" class="form-control" required>
                </div>
                <div class="form-group">
                  <label for="last_name">Last Name</label>
                  <input type="text" name="last_name" class="form-control" required>
                </div>
                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" name="username" class="form-control" required>
                </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" name="email" class="form-control" required>
                </div>
                <div class="form-group">
                  <label for="password2">Password</label>
                  <input type="password" name="password" class="form-control" minlength="8" required>
                </div>
                <div class="form-group">
                  <label for="password">Confirm Password</label>
                  <input type="password" name="password2" class="form-control" minlength="8" required>
                </div>
                <input type="submit" value="Register" class="btn btn-secondary btn-block">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}